---
import { type Asset,  type EntryFieldTypes } from 'contentful';

interface ServiceFields {
    fields: any,
    title: EntryFieldTypes.Text;
    description: EntryFieldTypes.Text;
    icon: Asset;
}
const { services } = Astro.props as { services: ServiceFields[] };

---

<section id="circle" class="px-8 w-full h-full border-t-8 border-[#006075]  lg:px-0  py-[163px] relative  flex flex-col items-center justify-center">
   
    <ul class=" w-full max-w-[1440px] grid-cols-1 gap-12 grid  lg:grid-cols-3 lg:gap-20">
        {services.map((service) => {
            return (
                <li class="items-center justify-start flex flex-col text-center">
                   <img src={service.fields.icon.fields.file.url} title={service.fields.title} alt={`${service.fields.title} icon`} />
                    <h3 class="text-[25px] mt-[22px] mb-[9px] font-bold">{service.fields.title}</h3>
                    <p class="!text-gray-600 text-[16px] leading-[38px]">{service.fields.description}</p>
                </li>
            )
        })}
    </ul>
 
</section>
 