---
interface Props {
	title: string;
}

const { title } = Astro.props;
const shareImg = "https://i.imgur.com/Lc7IZe3.png"
const shareDesc = "Arthur is an expert in building incredible websites! With over 15 years of experience both as a Designer and Developer. Arthur specializes in Shopify stores, offering custom design and development to perfectly match your brand's unique style while ensuring that every website not only looks amazing but also functions seamlessly, providing a smooth experience for your customers and making it simple for you to manage and grow your business.Your Open Graph Description"
const shareTitle = "Arthur Sousa - Web Experts"

---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-T7W2QWN6');</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A brief description of the page content.">
		<meta name="keywords" content="Shopify, Web Design, Web Developer, Toronto, Hamilton, California, Canada">
		<meta name="author" content="Arthur Sousa">
		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="7 days">

		<meta property="og:title" content={shareTitle}>
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.arthursousa.com">
		<meta property="og:image" content={shareImg}>
		<meta property="og:description" content={shareDesc}>
		<meta property="og:site_name" content={shareTitle}>
		<meta property="og:locale" content="en_US">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@artosousa">
		<meta name="twitter:title" content={shareTitle}>
		<meta name="twitter:description" content={shareDesc}>
		<meta name="twitter:image" content={shareImg}>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/vmp2dwa.css">
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7W2QWN6"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
	</body>
</html>
<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		background: #fff;
		background-size: 224px;
	}
	h1,h2,h3,h4,h5{
		font-family: "roboto", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
	p{
		font-family: "rockwell", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
</style>
